/* Data Table Styles */

.data-table-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: white;
}

.data-table-content {
  flex: 1;
  overflow: hidden;
}

.data-table-grid-area {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.data-table-grid-wrapper {
  flex: 1;
  overflow: auto;
}

/* Bottom Toolbar */
.data-table-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgb(226 232 240);
  background-color: rgb(248 250 252);
  padding: 0.5rem 1rem;
}

.data-table-toolbar-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.data-table-row-count-input {
  width: 4rem;
  height: 2rem;
  border-radius: 9999px;
  text-align: center;
}

/* Icons */
.data-table-icon {
  height: 1rem;
  width: 1rem;
}

/* Search Popover */
.data-table-search-popover {
  width: 20rem;
}

.data-table-search-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.data-table-search-heading {
  font-weight: 500;
  font-size: 0.875rem;
}

.data-table-search-input-container {
  position: relative;
}

.data-table-search-icon {
  position: absolute;
  left: 0.5rem;
  top: 0.625rem;
  height: 1rem;
  width: 1rem;
  color: rgb(113 113 122);
}

.data-table-search-icon-loading {
  position: absolute;
  left: 0.5rem;
  top: 0.625rem;
  height: 1rem;
  width: 1rem;
  color: rgb(113 113 122);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.data-table-search-input {
  padding-left: 2rem;
  padding-right: 2rem;
}

.data-table-search-clear {
  position: absolute;
  right: 0.5rem;
  top: 0.625rem;
  color: rgb(113 113 122);
}

.data-table-search-clear:hover {
  color: rgb(63 63 70);
}

.data-table-search-help {
  font-size: 0.75rem;
  color: rgb(113 113 122);
}

/* Resize Handle */
.data-table-resize-handle {
  width: 0;
  background-color: transparent;
}
