@layer components {
  [data-slot="accordion-item"] {
    @apply border-b last:border-b-0;
  }

  [data-slot="accordion-trigger"] {
    @apply focus-visible:border-ring focus-visible:ring-ring/50 flex flex-1 items-start justify-between gap-4 py-4 text-left text-sm font-medium transition-all outline-none hover:underline focus-visible:ring-[3px] disabled:pointer-events-none disabled:opacity-50;
  }

  [data-slot="accordion-trigger"][data-state="open"] {
    @apply bg-slate-200;
  }

  [data-slot="accordion-trigger"][data-state="open"] > svg {
    @apply rotate-180;
  }

  [data-slot="accordion-trigger"] > svg {
    @apply text-muted-foreground pointer-events-none size-4 shrink-0 translate-y-0.5 transition-transform duration-200;
  }

  [data-slot="accordion-content"] {
    @apply data-[state=closed]:animate-accordion-up data-[state=open]:animate-accordion-down overflow-hidden text-sm;
  }

  [data-slot="accordion-content"] > div {
    @apply pt-4 pb-4;
  }
}
