@layer components {
  .chart-preview-container {
    @apply flex min-h-full flex-col bg-zinc-100  md:h-full md:overflow-hidden;
  }

  .chart-preview-area {
    /* @apply w-full h-full overflow-auto flex items-center justify-center p-4 md:p-8; */
    @apply w-full p-4 overflow-auto;
  }

  .chart-preview-card {
    @apply flex flex-col shadow-sm transition-all duration-200 mx-auto!;
  }

  .chart-preview-content-col {
    @apply flex flex-col w-full h-full;
  }

  .chart-preview-content-row {
    @apply flex flex-row w-full h-full;
  }

  .chart-preview-graphic-wrapper {
    @apply flex flex-1 min-h-0 w-full;
  }

  .chart-preview-graphic {
    @apply flex-1 w-full h-full flex items-center justify-center relative;
  }
}
