@layer components {
  [data-slot="checkbox"] {
    @apply border-input dark:bg-input/30 size-4 shrink-0 rounded-[4px] border shadow-xs transition-shadow outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50;
  }
  [data-slot="checkbox"][data-state="checked"] {
    @apply bg-primary text-primary-foreground dark:bg-primary border-primary;
  }
  [data-slot="checkbox"][aria-invalid="true"] {
    @apply ring-destructive/20 dark:ring-destructive/40 border-destructive;
  }
  [data-slot="checkbox-indicator"] {
    @apply grid place-content-center text-current transition-none;
  }
  [data-slot="checkbox-indicator"] > svg {
    @apply size-3.5;
  }
}
