@layer components {
  [data-slot="resizable-panel-group"] {
    @apply flex h-full w-full;
  }
  [data-slot="resizable-panel-group"][data-panel-group-direction="vertical"] {
    @apply flex-col;
  }

  [data-slot="resizable-handle"] {
    @apply bg-border focus-visible:ring-ring relative flex w-px items-center justify-center after:absolute after:inset-y-0 after:left-1/2 after:w-1 after:-translate-x-1/2 focus-visible:ring-1 focus-visible:ring-offset-1 focus-visible:outline-hidden;
  }

  [data-slot="resizable-handle"][data-panel-group-direction="vertical"] {
    @apply h-px w-full after:left-0 after:h-1 after:w-full after:translate-x-0 after:-translate-y-1/2;
  }

  [data-slot="resizable-handle"][data-panel-group-direction="vertical"] > div {
    @apply rotate-90;
  }

  .resizable-handle-grip {
    @apply bg-border z-10 flex h-4 w-3 items-center justify-center rounded-xs border;
  }

  .resizable-handle-grip > svg {
    @apply size-2.5;
  }
}
