@layer components {
  [data-slot="switch"] {
    @apply focus-visible:border-ring focus-visible:ring-ring/50 inline-flex h-[1.15rem] w-8 shrink-0 items-center rounded-full border border-transparent shadow-xs transition-all outline-none focus-visible:ring-[3px] disabled:cursor-not-allowed disabled:opacity-50;
  }
  [data-slot="switch"][data-state="checked"] {
    @apply bg-primary;
  }
  [data-slot="switch"][data-state="unchecked"] {
    @apply bg-input;
  }
  .dark [data-slot="switch"][data-state="unchecked"] {
    @apply bg-input/80;
  }
  [data-slot="switch-thumb"] {
    @apply bg-background pointer-events-none block size-4 rounded-full ring-0 transition-transform;
  }
  [data-slot="switch-thumb"][data-state="checked"] {
    @apply translate-x-[calc(100%-2px)];
  }
  [data-slot="switch-thumb"][data-state="unchecked"] {
    @apply translate-x-0;
  }
  .dark [data-slot="switch-thumb"][data-state="unchecked"] {
    @apply bg-foreground;
  }
  .dark [data-slot="switch-thumb"][data-state="checked"] {
    @apply bg-primary-foreground;
  }
}
