@layer components {
  [data-slot="tabs"] {
    @apply flex flex-col gap-2;
  }
  [data-slot="tabs-list"] {
    @apply bg-muted text-muted-foreground inline-flex h-9 w-fit items-center justify-center rounded-lg p-[3px];
  }
  [data-slot="tabs-trigger"] {
    @apply focus-visible:border-ring focus-visible:ring-ring/50 focus-visible:outline-ring text-foreground dark:text-muted-foreground inline-flex h-[calc(100%-1px)] flex-1 items-center justify-center gap-1.5 rounded-md border border-transparent px-2 py-1 text-sm font-medium whitespace-nowrap transition-[color,box-shadow] focus-visible:ring-[3px] focus-visible:outline-1 disabled:pointer-events-none disabled:opacity-50;
  }
  [data-slot="tabs-trigger"] > svg {
    @apply pointer-events-none shrink-0 size-4;
  }
  [data-slot="tabs-trigger"][data-state="active"] {
    @apply bg-background shadow-sm;
  }
  .dark [data-slot="tabs-trigger"][data-state="active"] {
    @apply text-foreground border-input bg-input/30;
  }
  [data-slot="tabs-content"] {
    @apply flex-1 outline-none;
  }
}
